@import "../../App.scss";

.back-button {
    background-color: #e16120;
    font-size: 1.5rem;
    text-align: center;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    color: #fff;
    margin-top: 7px;
}